{% extends 'base.html' %} {% import 'macros.html' as macro %} {% block content%}
<div class="container">
  <h3 class="text-center my-3">Welcome to The best News site</h3>
  <div class="row">
    {%for source in sources%}
    <div class="col-md-4 col-sm-6 d-flex">
      <div class="card mb-4 flex-fill">
        <div class="card-body">
          {{ macro.categoryBadge(source.category) }}
          <h2 class="card-title">{{ source.name }}</h2>
          <p class="card-text">{{ source.description }}</p>
          <a
            href="/articles/{{source.id}}"
            class="card-link btn btn-outline-info"
            >View articles</a
          >
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{% endblock %}
